<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.omegamark.remember">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remember"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name="com.omegamark.remember.ui.QRCodeScannerActivity"
            android:theme="@style/Theme.Remember.NoActionBar"/>


        <activity
            android:name="com.omegamark.remember.ui.members.MapActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.store.PlaceOrderActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.store.OrderHistoryActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.store.ProductDetailsActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.members.MemberDetailsActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.members.CreateMemberActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.post.CreatePostActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.post.PostDetailsActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.SplashScreenActivity"
            android:theme="@style/Theme.Remember.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.omegamark.remember.ui.HomeScreen.HomeActivity"
            android:theme="@style/Theme.Remember.NoActionBar" />
        <activity
            android:name="com.omegamark.remember.ui.login.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="com.omegamark.remember.ui.register.RegisterActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name="com.omegamark.remember.BaseActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".fcm.RememberFirebaseMessagingService"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>